source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

nuget FSharp.Core
nuget System.ValueTuple
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.UI

group tests
source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect

nuget coverlet.collector
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget unquote
nuget xunit
nuget xunit.runner.visualstudio